.form-header {
  color: red;
  background-color: #191919;
}

body {
  margin: 0 500px;
  position: relative;
  font-family: "Poppins", sans-serif;
  ont-style: normal;
}

.btn-input {
  padding: 8px 32px;
  border-radius:  20px;
  background-color: blue;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border: none;
}

.btn-input:hover {
  background-color: transparent;
  color:  blue;
  outline: 1px solid blue;
}

.btn-2 {
  border-radius: 20px;
  padding: 8px 12px;
  outline: 1px solid blue;
  color: blue;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
    transition: 300ms ease-in-out;
}

.btn-2:hover {
  background-color: blue;
  color: white;
}

.my-table {
  border-collapse: collapse;
}

.my-table thead {
  font-weight: 600;
  background: lightcyan;
}

.my-table thead tr th {
}

th {
  padding: 10px;
}

 td {
  text-align: center;
  padding: 10px 25px;
}

.my-table tbody {
}

.my-table tr:nth-child(even) {
  background-color: #848484;
  color: white;
}

.card {
  width: 300px;
  border-radius: 8px;
  box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.35);
}

.card-image {
  border-radius: 12px;
}

.card-content {
  padding: 4px 12px;
}

.card-content_title {
  font-size: 24px;
  font-weight: 700;
}

.card-content_price {
  font-size: 18px;
  font-weight: 600;
  display:  flex;
  align-items: center;
  gap: 4px;
}

.card-content_price span {
  font-size: 10px;
  padding: 0 4px;
  text-decoration: line-through;
  background-color: lightgray;
}

.card-content_price-discount {
  text-decoration: line-through;
  color: lightgray;
  font-weight: 500;
}

.card-content_description {
  font-size: 14px;
}